@charset "utf-8";

@font-face {
    font-family: 'GraublauWebRegular';
    src: url('../fonts/graublauweb-webfont.eot');
    src: url('../fonts/graublauweb-webfont.eot?#iefix') format('eot'),
         url('../fonts/graublauweb-webfont.woff') format('woff'),
         url('../fonts/graublauweb-webfont.ttf') format('truetype'),
         url('../fonts/graublauweb-webfont.svg#webfontkFO6fx3f') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraublauWebBold';
    src: url('../fonts/graublauwebbold-webfont.eot');
    src: url('../fonts/graublauwebbold-webfont.eot?#iefix') format('eot'),
         url('../fonts/graublauwebbold-webfont.woff') format('woff'),
         url('../fonts/graublauwebbold-webfont.ttf') format('truetype'),
         url('../fonts/graublauwebbold-webfont.svg#webfontQB5I5TIk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media all {
	* {
		font-family: 'GraublauWebRegular', sans-serif;
		font-weight:normal;
		font-style:normal;
		font-size:100.01%;
	}
	html, body {
		height:100%;
		width:100%;
		min-width:600px;
	}
	html, body, p{
		margin:0; 
		padding:0;
	}
	html {
		font-size:14px;
		line-height:22px;
		color:#111;
		background:#444;
	}
  	h1{
		font-family:  'GraublauWebBold', sans-serif;
		margin:0;
		text-align:center;
		font-size:40px;
		line-height:78px;
		color:#be883a;
		color:#222;
		text-shadow: 0px 1px 1px #666;
	}
	b{
		font-family:  'GraublauWebBold', sans-serif;
	}
	a{
		color:#fff;
		text-decoration:none;
	}
	a:hover{
		text-decoration:underline;
	}
	.left{
		float:left;
	}
	.right{
		float:right;
	}
}

@media screen, projection, print {

	#head{
		height: 90px;
		background:#444;
		overflow:hidden;
	}
	#middle{
		display: block;
	}
	#footer{
		position: absolute;
		bottom: 0;
		width:100%;
		height:50px;
		overflow:auto;
	}
	#footer p, #version{
		padding:20px 20px 0 20px;
		color:#ccc;
	}
	#footer p{
		float:left;
	}
	#version{
		float:right;
	}
	#logo{
		float:right;
		margin:5px 5px 0 0;
	}
	#left{
		position:absolute;
		height:auto;
		bottom:0;
		top:0;
		left:0;
		right:0;
		margin-top:90px;
		margin-bottom:50px;
		margin-right:0;
		margin-left:0;
		padding: 0 20px 0 30px;
		width:240px;
		overflow:auto;
	}
	#map{
		position:absolute;
		height:auto;
		bottom:0;
		top:0;
		left:0;
		right:0;
		margin-top:90px;
		margin-bottom:50px;
		margin-right:300px;
		margin-left:300px;
		background:#ccc !important;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	#map a{
		color:#fff !important;
	}
	#right{
		position:absolute;
		height:auto;
		bottom:0;
		top:0;
		left:auto;
		right:0;
		margin-top:90px;
		margin-bottom:50px;
		margin-right:20px;
		margin-left:auto;
		width:240px;
		padding:10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background:#ccc;
	}
	#copy{
		position:absolute;
		height:30px;
		width:240px;
		bottom:0;
		right:0;
		padding:10px;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		background:#ccc;
		cursor:pointer;
		
	}
	#copy p{
		text-align:center;
		font-family: 'GraublauWebBold', sans-serif;
		font-size:20px;
		line-height:28px;
		color:#444;
		text-shadow: 0px 1px 1px #eee;
	}
	#copy:hover, #copy:hover p, #copy.hover, #copy.hover p{
		color:#fff;
		text-shadow: 0px -1px 1px #666;
		background:#00b7eb;
	}
	#copy.active, #copy.active p{
		background:#00c000;
		color:#fff;
		text-shadow: 0px -1px 1px #666;
	}
	#copy p.default{
		display:block;
	}
	#copy p.copied{
		display:none;
	}
	#copy.active p.default{
		display:none;
	}
	#copy.active p.copied{
		display:block;
	}
	#json{
		position:absolute;
		height:auto;
		bottom:0;
		top:0;
		left:auto;
		right:0;
		margin-top:85px;
		margin-bottom:50px;
		margin-right:0;
		margin-left:auto;
		width:240px;
		padding:10px;
		background:#fff;
		white-space: pre;
		overflow:auto;
	}
	.item{
		padding:12px 10px 6px 10px;
		width:100%;
		margin: 0 0 10px -10px;
		background:#ccc;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	.wrap{
		overflow:auto;
	}
	.item .left{		
		width:70px;
	}
	.item .left, .item .right{
		height:30px;
		
	}
	.item .right{
		float:left;
	}
	.item select, .item input[type="text"] {
		width:140px;
		padding:0;
		height:24px;
		margin:0;
		border:0;
		
	}
	.item input[type="button"] {
		background:#888;
		position: absolute;
		display:block;
		border:0;
		margin:-102px 0 0 225px;
		cursor:pointer;
		font-size:16px;
		padding:0 0 20px 0;
		line-height:40px;
		width:25px;
		height:25px;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		color:#222;
		font-family: 'GraublauWebBold', sans-serif;
	}
	.item input[type="button"]:hover{
		color:#fff;
		text-shadow: 0px -1px 1px #ccc;
		background:#e43789;
	}
	.red{
		background-color:#f99;
	}
	#add{
		margin:10px 0 0 100px;
		width:40px;
		height:40px;
		border:0;
		background:#ccc;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		cursor:pointer;
		font-size:28px;
		padding:0 0 20px 0;
	}
	#add:hover{
		color:#fff;
		text-shadow: 0px -1px 1px #00c7ff;
		background:#00b7eb;
	}
}